.projectCard{
    width: 31%;
    margin-bottom: 10px;
}
.projectCard img{
    width: 100%;
    border: 2px var(--darkSecondary) solid;
    border-radius: 5px;
}
.projectCard h3{
    margin-top: 5px;
    margin-bottom: 5px;;
}

@media (max-width: 800px) {
    .projectCard{
        width: 48%;
    }
}

@media (max-width: 550px) {
    .projectCard{
        width: 100%;
    }
}