body{
  font-family: Inter,system-ui,Avenir,Helvetica,Arial,sans-serif;
}
.projectsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.projectCard{
  width: 30%;
}
.projectCard img{
  width: 100%;
}