@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{box-sizing: border-box;}

html{
    /* dark mode colours */
    --darkText: #f2f2f2;
    --darkBackground: #160623;
    --darkPrimary: #742fac;
    --darkSecondary: #9794ff;
    --darkAccent: #ff4d88;
    /* light mode colours */
    --lightText: #150f09;
    --lightBackground: #f5f4fb;
    --lightPrimary: #742fac;
    --lightSecondary: #92a8f6;
    --lightAccent: #ff397a;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-color: var(--darkBackground);
    color: var(--darkText);

    /* default bg */
    background-color: #000000;
}
.pcontent{
    margin: 0 auto;
    width:70%;
    
    margin-top: 20px;
    margin-bottom: 20px;
}
.landing{
    background-color: var(--darkBackground);
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #160623 11px ), repeating-linear-gradient( #1d072f55, #1d072f );
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left:50px;
    padding-right:50px;
    gap: 15px;

    
    max-width: 1240px;
    margin: auto;
}
.landing-main-left{
    margin:0;
    padding:0;
}
.githubIcon{
    font-size: 145px;
}
.landing-main-right h1{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.landing-main-right p{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.landing-buttons{
    height: 30px;
    display: flex;
    padding-top: 10px;
    gap:10px;
    align-items: center;
}
.linkIcon{
    text-decoration: none;
    color: var(--darkText);
    font-size: 25px;
}
.ml{
    font-size: 30px;
}
.linkIcon:hover{
    color: var(--darkPrimary);
}
.highlights ul{
    padding-left: 20px;
}
.highlights li{
    list-style-type: none;
}
.highlights p{
    margin-bottom: 23px;
}
.sect{
    max-width: 1125px;
    margin: auto;
}
.sect p{
    margin-top: 5px;
}
.sect h2{
    width:max-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    margin-left: 10px;
    margin-bottom: 0;
    background-color: #250b3a;
    border-radius: 20px 20px 0 0;
}
.sect h3{
    margin-bottom: 10px;
}
.sect-content{
    margin-left: 10px;
    margin-right: 10px;
    padding:10px;
    padding-bottom: 5px;
    background-color: #250b3a;
    border-radius: 0 20px 20px 20px
}
.VscGithubAlt{
    color:var(--darkPrimary);
}
h2{
    font-size: 30px;
}
.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*gap:20px;
    padding:20px;
    padding-left:50px;
    padding-right:50px;*/

    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    gap:10px;
}

@media (max-width: 1100px) {
    body{
        padding: 0;
        margin: 0;
    }
    .pcontent{
        width: 100%;
        margin: 0;
    }
    .landing{
        border-radius: 0px 0px 25px 25px;
        width: 100%;
        margin: 0;
        padding: 40px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .landing h1{
        font-size: 40px;
        margin-bottom: 5px;
    }
    .landing p{
        margin-top: 5px;
    }
}

@media (max-width: 800px) {
    .projects-container{
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        gap:10px;
    }
}

@media (max-width: 605px) {
    .landing{
        padding:50px;
        padding-left:20px;
        padding-right:20px;
        gap: 15px;
    }
    .githubIcon {
        font-size: 100px;
    }
}

@media (max-width: 485px) {
    .landing-main-left{
        visibility: hidden;
        width: 0;
    }
    .linkIcon{
        margin-top: 15px;
        font-size: 30px;
    }
    .mail{
        font-size: 35px;
    }
}